* {
    box-sizing: border-box;
}
#responsiveedu {
    width: 100%;
    height: 100vh;
    color: black;
    background-color: #F5FCCD;
}
#close {
    display: flex;
    flex-direction: row;
}
#head {
    background-color: #12486B;
    color: #F5FCCD;
    padding-left: 1%;
    padding-bottom: .5%;
    padding-top: .5%;
    text-align: left;
}
#edu {
    margin-right: 10vw;
}
#close nav ul {
    margin: 7vh 0;
}
img {
    max-width: 80%;
    margin: .1vh;
}
body {
    background-color: #F5FCCD;
    text-align: center;
}
nav {
    background-color: #F5FCCD;
    width: 30%;
    text-align: center;
    padding: 0 3%;
}
nav ul {
    list-style: none;
    margin: 4vh 0;
}
nav li {
    border: 3px solid black;
    background-color: #12486B;
    margin: 0 1vw;
    padding: 3vh 2vw;
    font-size: calc(1px + 1vw);
}
nav a {
    text-decoration: none;
    color: #F5FCCD;
    font-size: large;
}
main {
    background-color: #F5FCCD;
    color: black;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
main p {
    font-size: large;
}
main a {
    color: black;
}
footer {
    margin: 2vh 0;
    padding: .1%;
    background-color: #12486B;
    color: #F5FCCD;
}
footer a {
    color: #F5FCCD;
}
@media screen and (max-width: 750px) {
    #close {
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
    }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    nav li {
        display: inline;
        margin: 0 1vw;
        padding: 1vh 1vw;
    }
    nav a {
        font-size: calc(1px + 1vw);
    }
    #head {
        text-align: center;
    }
    #edu {
        margin: 0;
    }
    #close nav ul {
        margin: 4vh 0;
    }
}
